ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    padding: 0;
}
input {
    width: 100%;
    margin: 15px 0 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 1rem;
}
.app {
    width:800px;
    margin: auto;
}
.pagination {
    margin: 0 auto;
}
.pagination li,
.pagination a {
    display: inline-block;
    width: 2.3em;
    height: 2em;
    text-align: center;
    line-height: 2em;
}
.pagination>li {
    margin-right: 10px;
    border: 1px solid #ccc;
}
.gallery>li {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    padding-bottom: 15px;
    vertical-align: top;
}
.gallery figcaption {
    font-size: 0.8rem;
}
.card {
    position: relative;
}
.card .ctrl-back {
    position: absolute;
    left: -50px;
    top: 5px;
    padding: 7px 10px;
}